@charset "UTF-8";
/* write css */
textarea {
	height: 300px;
	resize: none;
	border: none;
}

#updatelist {
	margin: auto;
	margin-top: 12%; 
	width: 85%;
	border-collapse: collapse;
}

#updatelist tr {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
}

#updatelist td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

#updatelist td input[type="text"], #updatelist td textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid #ddd;
	font-size: 16px;
	border: none;
}

#updatelist td input[type="text"][readonly], #updatelist td textarea[readonly]
	{
	background-color: #f5f5f5;
	cursor: not-allowed;
	border: none;
	width: 100%;
}

#updatelist td button {
    background-color: #F3732F;
    color: #fff;
	position: relative;
	border: 0.5px solid #F3732F;
	display: inline-block;
	padding: 15px 30px;
	border-radius: 15px;
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
}

#updatelist td button:hover {
	border: 0.5px solid #F3732F;
	color: #F3732F;
	background-color: #fff;
}

#updatelist tr:nth-child(even) {
	background-color: #f2f2f2;
}

.seqinput {
	border: none;
}

.Mainhead {
	margin-bottom: 10px;
}

.title_img {
	height: 70px;
	margin-top: 5px;
}

#lo {
	float: right;
	border: 2px solid #000;
}

#mobiList {
	visibility: hidden;
}

.categorynav1 {
	line-height: 50px
}

.gnb1>li {
	margin-right: 5%;
	display: inline-block;
	position: relative;
}


/* 카테고리 select */
#mySelect {
    width: 150px;               /* Width of the dropdown */
    height: 40px;               /* Height of the dropdown */
    padding: 10px;              /* Padding around the text */
    font-size: 15px;            /* Size of the text */
    border-radius: 5px;         /* Rounded corners */
    border: 1px solid #ccc;     /* Gray border */
    background-color: #f8f8f8;  /* Light gray background */
}

#mySelect option {
    padding: 10px;              /* Padding around the text in options */
}

#mySelect:focus {
    border-color: #4CAF50;      /* Green border when dropdown is focused */
}