@charset "UTF-8";
/* write css */
textarea {
	height: 300px;
	resize: none;
	border: none;
}

#updatelist {
	margin: auto;
	margin-top: 12%; 
	width: 85%;
	border-collapse: collapse;
}

#updatelist tr {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
}

#updatelist td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: left;
}

#updatelist td input[type="text"], #updatelist td textarea {
	width: 100%;
	padding: 5px;
	border: 1px solid #ddd;
	font-size: 16px;
	border: none;
}

/* #updatelist tr:nth-child(even) {
	background-color:  rgba(253, 227, 213, 0.3);
}  */

#updatelist td input[type="text"][readonly], #updatelist td textarea[readonly]
	{
	background-color: #f5f5f5;
	cursor: not-allowed;
	border: none;
	width: 100%;
}

/* 버튼 위치 */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.writeBtn {
	margin-left: 10px;
    background-color: #F3732F;
    color: #fff;
	position: relative;
	border: 0.5px solid #F3732F;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 15px;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	transition: 0.25s;
}

.writeBtn:hover {
	border: 0.5px solid #F3732F;
	color: #F3732F;
	background-color: #fff;
}


/* 카테고리 select */
#mySelect {
    width: 150px;               /* Width of the dropdown */
    height: 40px;               /* Height of the dropdown */
    padding: 10px;              /* Padding around the text */
    font-size: 15px;            /* Size of the text */
    border-radius: 5px;         /* Rounded corners */
    border: 1px solid #ccc;     /* Gray border */
    background-color: #f8f8f8;  /* Light gray background */
}

#mySelect option {
    padding: 10px;              /* Padding around the text in options */
}

#mySelect:focus {
    border-color: #F3732F;     /* Green border when dropdown is focused */
}