@charset "UTF-8";

/* 폰트 */
@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-style: normal;
}
/* 라벨&input join */
.form{
	margin-top:8%;
	
}
.form label {
	font-weight: 700;
	font-size: 20px; /* adjust this value as necessary */
}

.form input {
  font-size: 18px; /* adjust this value as necessary */
   font-weight: normal;
}

:root {
  --button-color: #0f0f0f;
  --button-bg-color: #F3732F;
  --button-hover-bg-color: #ffffff;
}
.page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
  overflow: hidden;
}
#backImg{
	position:absolute;
	z-index: -1;
	max-width: 100%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.sliceShow{
	margin:0 auto;
	position:relative;
	width:100%;
	height:auto;
	padding:0;
}
.container {
<<<<<<< HEAD
  background: rgba(255, 255, 255, 0.7);
  place-content: center;
  display: flex;
  z-index: 999;
  height: 800px;
  margin: 0 auto;
  margin-top:1%;
  width: 600px;
=======
	font-family: 'OTWelcomeRA';
	background: rgba(255, 255, 255, 0.7);
	place-content: center;
	display: flex;
	z-index: 999;
	height: 100%;
	margin: 0 auto;
	width: 600px;
>>>>>>> branch 'main' of https://github.com/koreaBEAR/travelproject.git
}

label {
  color:  black;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: none;
  color: #000000;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  border-bottom:1px solid lightgray;
  width: 100%;
}

.joinbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}
.joinButton {
	font-size: 20px;
	color: rgb(255, 255, 255);
}
.joinButton, #btnback {
	margin: 10px;
}


button{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	background: var(--button-bg-color);
	color: var(--button-color);
	
	margin: 0;
	padding: 0.5rem 1rem;
	
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	
	border: 0.5px solid #F3732F;
	border-radius: 8px;
	
	display: inline-block;
	width: auto;
	
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	
	cursor: pointer;
	
	transition: 0.5s;
}
button:active,
button:hover,
button:focus {
	background: var(--button-hover-bg-color);
  	border: 0.5px solid #F3732F;
	color: #F3732F;
	outline: 0;
}
button:disabled {
  opacity: 0.5;
}
input[id=birth]{
	border:none;
}
.select {
    padding: 15px 10px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label {
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
<<<<<<< HEAD
    height: 40px;
=======
    height: 35px;
>>>>>>> branch 'main' of https://github.com/koreaBEAR/travelproject.git
    width: 90px;
    border: 1px solid #F3732F;
<<<<<<< HEAD
    border-radius:10px;
    line-height: 24px;
=======
    line-height: 43px;
>>>>>>> branch 'main' of https://github.com/koreaBEAR/travelproject.git
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
    color: #F3732F;
}

.select input[type=radio]+label{
    background-color: #fff;
    color: #F3732F;
}
.select input[type=radio]:checked+label{
    background-color: #F3732F;
    color: #fff;
}
