@charset "UTF-8";
:root {
  --button-color: #ffffff;
  --button-bg-color: #F3732F;
  --button-hover-bg-color: #ffffff;
}
.page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
  overflow: hidden;
}
#backImg{
	position:absolute;
	z-index: -1;
	max-width: 100%;
	height:auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.sliceShow{
	margin:0 auto;
	position:relative;
	width:100%;
	height:auto;
	padding:0;
}
/* .slideShow > div{
	position:absolute;
} */
.container {
  background:rgba(255, 255, 255, 0.7);
  place-content: center;
  z-index: 999;
  display: flex;
  height: 100%;
  width: 400px;
}
#loginPageImg{
	width:100%;
	height:100%;
}
.form {
	display:none;
	margin-top:20%;
	position: absolute;
}
.formTitle{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top:20%;
	position: absolute;
}
#btnShow{
	width:40%;
	font-size:20px;
}
#logoImg{
	width:100%;
	height:100%;
	margin-bottom:10px;
	margin-top:10px;
}
label {
  color:  rgb(69, 69, 73);
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: none;
  border-bottom:1px solid rgb(69, 69, 73);
  color: rgb(69, 69, 73);
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
button{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	background: var(--button-bg-color);
	color: var(--button-color);
	
	margin: 0;
	padding: 0.5rem 1rem;
	
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	
	border: 0.5px solid #F3732F;
	border-radius: 8px;
	
	display: inline-block;
	width: auto;
	
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	
	cursor: pointer;
	
	transition: 0.5s;
}
button:active,
button:hover,
button:focus {
	background: var(--button-hover-bg-color);
  	border: 0.5px solid #F3732F;
	color: #F3732F;
	outline: 0;
}
button:disabled {
  opacity: 0.5;
}
a {
  color: #0f0f0f;
  text-decoration: none;
}
.password-container{
  position: relative;
}
#eyeOpen{
  width:25px;
  height:25px;
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
}
.IdDlg, .PwDlg {
   		text-align:center;
   		width: 50%;
/* 	    border:none; */
	    outline:none;
	    color: #636e72;
	    background: none;
	    background-color:#000000;
	    font-family: 'Ubuntu', sans-serif;
	     /* font-size:16px; */
	    font-weight: 700;
	    font-size: 14px;
	    margin: 5px;
	   	backdrop-filter: blur(10px);
    	background-color: rgba(255, 255, 255, 0.5);
    }
    .divclass{
    margin-top:-20px;
    }
    .textForm {
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
  	}
    .textForm1 {
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
 	}
   .findId, .findEm, .findNm {
   	width: 70%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
   }